<div class="intro" *ngIf="Bidderregister"></div>
<div style="text-align: center;border:1px black;" (click)="Bidderregiapproval()">Approve for Bidder Registration</div>
<div *ngIf="Bidderregi">
<div class="Container-fluid">
    <button (click)="GoBackAgain()">Go Back</button><br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Details</th>
                <th >Approval status</th> 
            </tr>
        </thead>
        <tbody *ngFor="let b of Bidderregisterdataresult">
            <tr>
                <td>{{b.fullname}}</td>
                <td><button (click)="Viewdata(b)">Details</button></td>
                <div *ngIf="b.ApprovedStatus==null">
                    <td>Not Approved</td>
                </div>
                <div *ngIf="b.ApprovedStatus != null">
                    <td>Approved</td>
                </div>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div *ngIf="ViewDetails" class="container">
    <button (click)="GoBack()">Go Back</button><br/>
   <div class="center"> <label>Bidder Email Id : {{UserEmailId}} </label></div><br/>   
   <div class="center"> <label>Contact No  : {{ContactNo_}} </label> </div><br/> 
    <div class="center"> <label>Address1  : {{address1}} </label> </div><br/> 
    <div class="center"> <label>Address2   : {{address2}} </label></div><br/> 
    <div class="center"> <label>City   : {{city}} </label> </div><br/> 
    <div class="center"> <label>State   : {{state}} </label> </div><br/> 
    <div class="center"> <label>Pincode   : {{pincode}} </label></div><br/> 
    <div class="center"><div class="center"> <label>Pancard</label> </div>
    <img [src]="pancardDocument"  style="width:250px;height:200px"></div><br/> <br/>
    <!--  <label>{{pancardDocument}}</label> <br/> -->
    <div class="center"><label>Aadharcard</label> <br/><br/>
     <img [src]="aadharCardDocument"  style="width:250px;height:200px"></div><br/><br/>
    <!--  <img class="e2e-inner-html-bound" src={{aadharCardDocument}}> <br/> -->
    <div class="center"> <label>Certificate</label> 
    <img [src]="certificate"  style="width:250px;height:200px"></div><br/><br/>
    <!--  <label>{{certificate}}</label> <br/> -->
    <div class="center"><label>IFSC Code   : {{IFSCCode}} </label></div> <br/>
    <div class="center"> <label>Bank Account No   : {{BankAccountNo}} </label></div> <br/>
    <button *ngIf="ApprovedStatus==null" type="button" (click)="Approveddata() ">Approve</button><br/><br/>
    <button (click)="GoBack()">Go Back</button><br/><br/>

</div>