<div class = "container">
    <div class = "row">
        <div class ="col-10">
            <div class = "jumbotron">
                <div *ngIf="Adminclaimrequestapprove">
                    <div class="Container-fluid">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Details</th>
                                    <th>Approval status</th>  
                                </tr>
                            </thead>
                        <tbody *ngFor="let c of Insclaimdata">
                            <tr>
                                <td>{{c.fullname}}</td>
                                <td><button (click)="Viewdata(c)">Details</button></td>
                                <div *ngIf="c.ClaimApprove==null">
                                    <td>Not Approved</td>
                                </div>
                                <div *ngIf="c.ClaimApprove != null">
                                    <td>Approved</td>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="ViewDetails">
                    <button (click)="GoBack()">Go Back</button>
                    <div class="center"><label>Season : {{season}} </label></div><br/>
                    <div class="center"><label>Year : {{year}} </label></div><br/>
                    <div class="center"><label>Crop Name : {{cropname}} </label></div><br/>
                    <div class="center"><label>Sum Insured : {{suminsured}} </label></div><br/>
                    <div class="center"><label>Farm ID : {{FarmId}} </label></div><br/>
                    <div class="center"><label>Claim Number : {{ClaimNo}}</label></div><br/>
                    <div class="center"><label>Cause Of Loss : {{CauseOfLoss}} </label></div><br/>
                    <div class="center"><label>Date of Loss : {{dateOfLoss | date:'mediumDate'}} </label></div><br/>
                    <div class="center"><label>Name : {{fullname}}</label></div><br/>
                    <div class="center"><label>City : {{city}} </label></div><br/>
                    <div class="center"><label>Contact Number : {{ContactNo_}}</label></div><br/>
                    <button *ngIf="ClaimApprove==null" (click)="ApproveClaimrequest()"type="button">Approve</button>
                </div>
            </div>
        </div>
    </div>
</div>
