<div class = "container">
    <div class = "row">
        <div class ="col-10">
            <div class = "jumbotron">
                <div *ngIf="Adminfarmersellrequestapprove">
                    <div class="Container-fluid">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Details</th>
                                    <th>Approval status</th>  
                                </tr>
                            </thead>
                        <tbody *ngFor="let f of FarmerSelldataresult">
                            <tr>
                                <td>{{f.fullname}}</td>
                                <td><button (click)="Viewdata(f)">Details</button></td>
                                <div *ngIf="f.AproovedFarmersell==null">
                                    <td>Not Approved</td>
                                </div>
                                <div *ngIf="f.AproovedFarmersell != null">
                                    <td>Approved</td>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                
                </div>
                <div *ngIf="ViewDetails">
                    <button (click)="GoBack()">Go Back</button>
                    <div><label>Farmersell Id : </label></div>
                    <div><label>{{FarmerSellID}}</label></div>
                    <div><label>Crop Type : </label></div>
                    <div><label>{{cropType}}</label></div>
                    <div><label>Crop Name : </label></div>
                    <div><label>{{cropname}}</label></div>
                    <div><label>Minimum selling price : </label></div>
                    <div><label> {{MSP}}</label></div>
                    <div><label>Fertilizer type : </label></div>
                    <div><label>{{fertilizerType}}</label></div>
                    <div><label>Quantity : </label></div>
                    <div><label>{{quantity}}</label></div>
                    <div><label>Soil PH certificate : </label></div>
                    <img [src]="SoilPHCertificate"  style="width:250px;height:200px"><br/><br/>
                    <div><button  (click)="ApproveSellRequest()"type="button" *ngIf="ApprovedStatus==null">Approve</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

