<div class = "container">
    <div class = "row">
        <div class ="col-10">
            <div class = "jumbotron">
                <div *ngIf="Adminfarmersellrequestapprove">
                    <div class="Container-fluid">
                        <h2 style="text-align: center;">Welcome Admin to Farmer Crop sell request Approval Page</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Details</th>
                                    <th>Approval status</th>  
                                </tr>
                            </thead>
                        <tbody *ngFor="let f of FarmerSelldataresult">
                            <tr>
                                <td>{{f.fullname}}</td>
                                <td><button (click)="Viewdata(f)">Details</button></td>
                                <div *ngIf="f.AproovedFarmersell==null">
                                    <td>Not Approved</td>
                                </div>
                                <div *ngIf="f.AproovedFarmersell != null">
                                    <td>Approved</td>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                
                </div>
                <div *ngIf="ViewDetails">
                    <button (click)="GoBack()">Go Back</button><br/>
                    <div class="center"><label>Farmersell Id : {{FarmerSellID}}</label></div><br/>
                    <div class="center"><label>Crop Type : {{cropType}}</label></div><br/>
                    <div class="center"><label>Crop Name : {{cropname}}</label></div><br/>
                    <div class="center"><label>Minimum selling price (in Rs. per 20Kg): {{MSP}} </label></div><br/>
                    <div class="center"><label>Fertilizer type : {{fertilizerType}}</label></div><br/>
                    <div class="center"><label>Quantity (in multiple of 20Kg) : {{quantity}}</label></div><br/>
                    <div class="center"><label>Soil PH certificate : </label>
                    <img [src]="SoilPHCertificate"  style="width:250px;height:200px"></div><br/><br/>
                    <div><button  (click)="ApproveSellRequest()"type="button" *ngIf="ApprovedStatus==null">Approve</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

