<div class = "container">
    <div class = "row">
        <div class ="col-10">
            <div class = "jumbotron">
                <div class="intro" *ngIf="Farmerregister">

                    <h2 style="text-align: center;"><em><strong>Admin Approval for Users</strong></em></h2>
                    <p><br /><br /></p>
                    <div style="text-align: center;border:1px black;" (click)="Farmerregiapproval()">Approve for Farmer Registration</div>
                    <p>&nbsp;</p>
                    <div style="text-align: center;" (click)="BidderRegiapproval()">Approve for Bidder Registration</div>
                    <p>&nbsp;</p>
                    <div style="text-align: center;"(click)="FarmerSellRequestApproval()">Approve for Farmer Sell Request</div>
                    <p>&nbsp;</p>
                    <div style="text-align: center;" (click)="SoldApproval()">Approve for Bidding Status</div>
                    <p>&nbsp;</p>
                    <div style="text-align: center;"(click)="InsClaimApproval()">Approve for Insurance Claim</div>
                    
                </div>
                <div *ngIf="Farmerregi">
                <div class="Container-fluid">
                    <button (click)="GoBackAgain()">Go Back</button><br/>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Details</th>
                                <th >Approval status</th>
                                
                            </tr>
                        </thead>
                        <tbody *ngFor="let d of Farmerregisterdataresult">
                            <tr>
                                <td>{{d.fullname}}</td>
                                <td><button (click)="Viewdata(d)">Details</button></td>
                                <div *ngIf="d.ApprovedStatus==null">
                                    <td>Not Approved</td>
                                </div>
                                <div *ngIf="d.ApprovedStatus != null">
                                    <td>Approved</td>
                                </div>
                                
                                
                            </tr>
                            
                            
                        </tbody>
                    </table>
                    
                    
                </div>
                </div>
                <div *ngIf="ViewDetails" class="container">
                    <button (click)="GoBack()">Go Back</button><br/>
                    
                    <div class="center"><label>Farmer Email Id : {{UserEmailId}}</label></div>
                    <div class="center"><label>Contact No  :  {{ContactNo_}}</label></div> 
                    <div class="center"><label>Address1  : {{address1}} </label></div> 
                    <div class="center"><label>Address2   :  {{address2}}  </label></div> 
                    <div class="center"><label>City   :  {{city}}</label></div> 
                    <div class="center"><label>State   :  {{state}}</label></div> 
                    <div class="center"><label>Pincode   :  {{pincode}}</label></div> 
                    <div class="center"><label>Pancard</label> <br/><br/>
                    <img [src]="pancardDocument"  style="width:250px;height:200px"></div>
                    <!--  <div class="center"><label>{{pancardDocument}}</label></div> <br/> -->
                    <div class="center"><label>Aadharcard</label> <br/><br/>
                    <img [src]="aadharCardDocument"  style="width:250px;height:200px"></div>
                    <!--  <img class="e2e-inner-html-bound" src={{aadharCardDocument}}> <br/> -->
                    <div class="center"><label>Certificate</label> <br/><br/>
                    <img [src]="certificate"  style="width:250px;height:200px"></div><br/><br/>
                    <!--  <div class="center"><label>{{certificate}}</label></div> <br/> -->
                    <div class="center"><label>IFSC Code   : {{IFSCCode}} </label></div>
                  

                    <div class="center"><label>Bank Account No   : {{BankAccountNo}} </label></div> 
                

                    <div class="center"><label>Land  Area   : {{landArea}} </label></div> 
                   

                    <div class="center"><label>Land Address   : {{landAddress}} </label></div>
                    

                    <div class="center"><label>Land Pincode   : {{landPinCode}} </label></div>
                  
                    <button *ngIf="ApprovedStatus==null" type="button" (click)="Approveddata() ">Approve</button> <br/><br/>
                    <button (click)="GoBack()">Go Back</button><br/><br/>

                </div>
            </div>
        </div>
    </div>
</div>
