<div class = "container">
    <div class = "row">
        <div class ="col-10">
            <div class = "jumbotron">
                <div>
                    <div class="container-fluid">
                        <div *ngFor="let v of  ViewMarketplacedata">
                            <div>Crop Type : {{v.cropType}}</div><br/>
                            <div>Crop Name : {{v.cropname}}</div><br/>
                            <div>Minimum selling price : {{v.MSP}}</div><br/>
                            <div style="float: right;">Current Bid Amount : {{v.bidAmount}}</div><br/><hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>