<div class = "container">
    <div class = "row">
        <div class ="col-10">
            <div class = "jumbotron">
                <h2 style="text-align: center;">Welcome Farmer Register Page. Please provide your valid information.</h2><br/>

<!-- <div class="container">
    <div class="row">
      <div class="col s8 offset-2"> -->
        <!-- <div class="card-panel teal lighten-2">
          <h4 class="center white-text">Image Library</h4>
        </div> -->
        <form #imageForm=ngForm (ngSubmit)="OnSubmit(Fullname,ContactNo,Emailid,Address1,Address2,City,State,Pincode,LArea,LAddress,LPincode,BankAccountno,IFSCCode,Image1,Image2,Image3,Password,CPassword)">
            <!-- <form #imageForm=ngForm (ngSubmit)="OnSubmit(Usertype.value,Fullname.value,ContactNo.value,Emailid.value,Address1.value,Address2.value,City.value,State.value,Pincode.value,LArea.value,LAddress.value,LPincode,BankAccountno,IFSCCode,Image1,Image2,Image3,Password,CPassword)"> -->
                    <!-- <div class="row">
                <div class="input-field col s12">
                    <label for="Usertype">Select your User type</label>
                    <select name="Farmer" id="User type" required #Usertype>
                    <option selected>Choose</option>
                    <option>Farmer</option>
                    <option>Bidder</option>
                    </select>
                </div>
            </div> -->
            <!-- <div *ngIf="!Usertype?.valid && (Usertype?.dirty || Usertype?.touched)" class="error">
                <div *ngIf="Usertype.errors.required">
                    <small class="text-danger">Usertype  is Required</small>
                </div>
            </div> -->
            
            <div class="row">
                <div class="input-field col s12">
                    <label for="FullName" style="width: 50%;text-align: center;">Enter FullName</label>
                    <!-- <input type="text" Name="Fullname" #Fullname required minlength="6"> -->
                    <input type="text" name="Fullname" ngModel #Fullname="ngModel" required minlength="6">
                    
                <!-- <input type="text" #CropeName ngModel name="CropeName" id="CropeName" required>   -->
                </div>
            </div>

            <div *ngIf="!Fullname?.valid && (Fullname?.dirty || Fullname?.touched)" class="error">
                <div *ngIf="Fullname.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">Fullname  is Required</small>
                </div>
                <div *ngIf="Fullname.errors.minlength" style="float: right;width: 50%;">
                    <small class="text-danger"style="float: left;">Minimum length of Full name is {{Fullname.errors.minlength.requiredLength}} Required</small>
                </div>
            </div><br/>

            <div class="row">
                <div class="input-field col s12">
                    <label for="ContactNo" style="width: 50%;text-align: center;">Enter Mobile number</label>
                    <input type="text" id="Phone Number" ngModel name="ContactNo" #ContactNo="ngModel" required pattern="^\d{3}-\d{3}-\d{4}$">
                    <!-- <input type="text" id="Phone Number" name="ContactNo" [(ngModel)]= Registration.ContactNo #ContactNo=ngModel required pattern="^\d{3}-\d{3}-\d{4}$"> -->
                </div>
            </div>
            <div *ngIf="!ContactNo?.valid && (ContactNo?.dirty || ContactNo?.touched)" class="error">
                <div *ngIf="ContactNo.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">mobile number is Required</small>
                </div>
                <div *ngIf="ContactNo.errors.pattern"style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">use pattern:000-000-0000</small>
                </div>
            </div><br/>
            
            <div class="row">
                <div class="input-field col s12">
                    <label for="Emailid" style="width: 50%;text-align: center;">Enter Mailid</label>
                    <input type="text" id=" Registrationemail" ngModel name="Emailid"  #Emailid="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <!-- <input type="text" id=" Registrationemail" name="Emailid" [(ngModel)]=Registration.Emailid  #Emailid="ngModel" required Emailid> -->
                </div>
            </div>
            <div *ngIf="!Emailid?.valid && (Emailid?.dirty || Emailid?.touched)" class="error">
                <div *ngIf="Emailid.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">Mail id is Required</small>
                </div>
                <div *ngIf="Emailid.errors.pattern" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">invalid email address</small>
                </div>
            </div><br/>
            <div class="row">
                <div class="input-field col s12">
                    <label for="Address1" style="width: 50%;text-align: center;">Enter Address</label>

                    <!-- <label for="Address1">Enter Address</label> -->
                    <input type="text" ngModel name="Address1"  #Address1="ngModel" required minlength="10">
                    <!-- <input type="text"  name="Address1"  [(ngModel)]= Registration.Address1 #Address1="ngModel"  required minlength="10"> -->
                    <!-- <input type="text" #CropeName ngModel name="CropeName" id="CropeName" required>   -->
                </div>
            </div>
            <div *ngIf="!Address1?.valid && (Address1?.dirty || Address1?.touched)" class="error">
                <div *ngIf="Address1.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">Address  is Required</small>
                </div>
                <div *ngIf="Address1.errors.minlength" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">Minimum length of Address is {{Address1.errors.minlength.requiredLength}} Required</small>
                </div>
            </div><br/>
            <div class="row">
                <div class="input-field col s12"style="width: 50%;text-align: center;float:right">
                    <!-- <label for="Address1">Enter Address 2</label> -->
                    <input type="text" style="float: left;" ngModel name="Address2" #Address2="ngModel" required minlength="5">
                    <!-- <input type="text"  name="Address2"  [(ngModel)]= Registration.Address1 #Address2="ngModel"  required minlength="5"> -->
                    <!-- <input type="text" #CropeName ngModel name="CropeName" id="CropeName" required>   -->
                </div>
            </div>
            <div *ngIf="!Address2?.valid && (Address2?.dirty || Address2?.touched)" class="error">
                <div *ngIf="Address2.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">Address  is Required</small>
                </div>
                <div *ngIf="Address2.errors.minlength" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">Minimum length of Address is {{Address2.errors.minlength.requiredLength}} Required</small>
                </div>
            </div><br/>

            <div class="row">
                <div class="input-field col s12">
                    <label for="City" style="width: 50%;text-align: center;">Enter City Name</label>
                    <!-- <input type="text"  name="City"  [(ngModel)]= Registration.City #City="ngModel"  required minlength="6"> -->
                    <input type="text" ngModel name="City" #City="ngModel" required minlength="4">
                </div>
            </div>
            <div *ngIf="!City?.valid && (City?.dirty || City?.touched)" class="error">
                <div *ngIf="City.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">City  is Required</small>
                </div>
                <div *ngIf="City.errors.minlength" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">Minimum length of City is {{City.errors.minlength.requiredLength}} Required</small>
                </div>
            </div><br/>

            <div class="row">
                <div class="input-field col s12">
                    <label for="State" style="width: 50%;text-align: center;">Enter State Name</label>
                    <!-- <input type="text"  name="State"  [(ngModel)]= Registration.State #State="ngModel"  required minlength="8"> -->
                    <input type="text" ngModel name="State" #State="ngModel" required >
                </div>
            </div>
            <div *ngIf="!State?.valid && (State?.dirty || State?.touched)" class="error">
                <div *ngIf="State.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">State  is Required</small>
                </div>
            </div><br/>
            <div class="row">
                <div class="input-field col s12">
                    <label for=" Pincode" style="width: 50%;text-align: center;">Enter Pincode</label>
                    <!-- <input type="number"  name="State"  [(ngModel)]= Registration.Pincode #Pincode="ngModel"  required minlength="5"> -->
                    <input type="number" ngModel name="Pincode"  #Pincode="ngModel" required minlength="6" maxlength="6">
                </div>
            </div>
            <div *ngIf="!Pincode?.valid && (Pincode?.dirty || Pincode?.touched)" class="error">
                <div *ngIf="Pincode.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">Pincode  is Required</small>
                </div>
                <div *ngIf="Pincode.errors.minlength" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;"> length of Pincode has to be {{Pincode.errors.minlength.requiredLength}}</small>
                </div>
            </div><br/>
            <label for="Area" style="width: 50%;text-align: center;">Land Details</label>
            <div class="row">
                <div class="input-field col s12">
                    <label for="LArea" style="width: 50%;text-align: center;">Land Area Name</label>
                    <!-- <input type="text"  name="LArea"  [(ngModel)]= Registration.LArea #LArea="ngModel"  required minlength="6"> -->
                    <input type="text" ngModel name="LArea" #LArea="ngModel" required>
                </div>
            </div>
            <div *ngIf="!LArea?.valid && (LArea?.dirty || LArea?.touched)" class="error">
                <div *ngIf="LArea.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">Area  is Required</small>
                </div>
            </div><br/>
            <div class="row">
                <div class="input-field col s12">
                    <label for="LAddress" style="width: 50%;text-align: center;">Land Address</label>
                    <input type="text" ngModel name="LAddress" #LAddress="ngModel" required minlength="8">
                    <!-- <input type="text"  name="LAddress"  [(ngModel)]= Registration.LAddress #LAddress="ngModel"  required minlength="8"> -->
                </div>
            </div>
            <div *ngIf="!LAddress?.valid && (LAddress?.dirty || LAddress?.touched)" class="error">
                <div *ngIf="LAddress.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">Address  is Required</small>
                </div>
                <div *ngIf="LAddress.errors.minlength" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;"> length of Address has to be minimum {{LAddress.errors.minlength.requiredLength}}</small>
                </div>
            </div><br/>
            <div class="row">
                <div class="input-field col s12">
                    <label for=" LPincode" style="width: 50%;text-align: center;">Pincode</label>
                    <input type="number" ngModel name="LPincode" #LPincode="ngModel" required minlength="5">
                    <!-- <input type="number"  name="LPincode"  [(ngModel)]= Registration.LPincode #LPincode="ngModel"  required minlength="5"> -->
                </div>
            </div>
            <div *ngIf="!LPincode?.valid && (LPincode?.dirty || LPincode?.touched)" class="error">
                <div *ngIf="LPincode.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">Pincode  is Required</small>
                </div>
                <div *ngIf="LPincode.errors.minlength||LPincode.errors.maxlength" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;"> length of Pincode has to be {{LPincode.errors.minlength.requiredLength}}</small>
                </div>
            </div><br/>
            <div class="row">
                <div class="input-field col s12">
                    <label for="BankAccountno" style="width: 50%;text-align: center;">Enter Bankaccountno</label>
                    <input type="number" ngModel name="BankAccountno" #BankAccountno="ngModel" required minlength="9">
                    <!-- <input type="number"  name=" BankAccountno"[(ngModel)]= Registration.BankAccountno #BankAccountno="ngModel" required minlength="12"> -->
                </div>
            </div>
            <div *ngIf="!BankAccountno?.valid && (BankAccountno?.dirty || BankAccountno?.touched)" class="error">
                <div *ngIf="BankAccountno.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">Bank Account number  is Required</small>
                </div>
                <div *ngIf="BankAccountno.errors.minlength" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;"> minimun length of Bank Account number is {{BankAccountno.errors.minlength.requiredLength}} required</small>
                </div>
            </div><br/>

            <div class="row">
                <div class="input-field col s12">
                    <label for="IFSCCode" style="width: 50%;text-align: center;">IFSC Code</label>
                    <input type="text" ngModel name="IFSCCode" #IFSCCode="ngModel" required minlength="11" maxlength="11">
                    <!-- <input type="text"  name=" IFSCCode"[(ngModel)]= Registration.IFSCCode #IFSCCode="ngModel" required minlength="10"> -->
                </div>
            </div>
            <div *ngIf="!IFSCCode?.valid && (IFSCCode?.dirty || IFSCCode?.touched)" class="error">
                <div *ngIf="IFSCCode.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">IFSC Code  is Required</small>
                </div>
                <div *ngIf="IFSCCode.errors.minlength||IFSCCode.errors.maxlength" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;"> length of IFSC Code is {{IFSCCode.errors.minlength.requiredLength}} required</small>
                </div>
            </div><br/>

            <label for="Aadhar" style="width: 50%;text-align: center;">Aadhar Card*</label>
            <img [src]="imageUrl1"  style="width:250px;height:200px">
            <div class="row" style="width: 50%;">
            <input type="file" style="width: 50%;float: right;margin-right: 10%;" #Image1 accept="image/*" (change)="handleFileInput1($event.target.files)">
            <!-- <button type="submit" class="btn-large btn-submit" [disabled]="Image.value=='' || !imageForm.valid">Submit</button> -->
            </div>
            <div class="row" style="width: 50%;">
            <label style="width: 50%;float: right;margin-right: 10%;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;color:darkcyan;">Only image is allowed to upload.</label>
            </div><br/><br/>
            <label for="pancard" style="width: 50%;text-align: center;">Pan Card*</label>
            <img [src]="imageUrl2"  style="width:250px;height:200px">
            <div class="row" style="width: 50%;">
            <input type="file" style="width: 50%;float: right;margin-right: 10%;" #Image2 accept="image/*" (change)="handleFileInput2($event.target.files)">
            <!-- <button type="submit" class="btn-large btn-submit" [disabled]="Image.value=='' || !imageForm.valid">Submit</button> -->
            </div>
            <div class="row" style="width: 50%;">
            <label style="width: 50%;float: right;margin-right: 10%;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;color:darkcyan;">Only image is allowed to upload.</label>
            </div><br/><br/>

            <label for="Certificate" style="width: 50%;text-align: center;">Certificate*</label>
            <img [src]="imageUrl3"  style="width:250px;height:200px">
            <div class="row" style="width: 50%;">
            <input type="file" style="width: 50%;float: right;margin-right: 10%;" #Image3 accept="image/*" (change)="handleFileInput3($event.target.files)">
            <!-- <button type="submit" class="btn-large btn-submit" [disabled]="Image.value=='' || !imageForm.valid">Submit</button> -->
            </div>
            <div class="row" style="width: 50%;">
            <label style="width: 50%;float: right;margin-right: 10%;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;color:darkcyan;">Only image is allowed to upload.</label>
            </div><br/><br/>

            <div class="row">
                <div class="input-field col s12">
                    <label for=" Password" style="width: 50%;text-align: center;">Password</label>
                    <input type="password" ngModel name="Password" #Password="ngModel" required minlength="5">
                    <!-- <input type="text"  name="Password"  [(ngModel)]= Registration.Password #Password="ngModel"  required minlength="5"> -->
                </div>
            </div>
            <div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="error">
                <div *ngIf="Password.errors.required" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;">Password is Required</small>
                </div>
                <div *ngIf="Password.errors.minlength" style="float: right;width: 50%;">
                    <small class="text-danger" style="float: left;"> minimun length of Password is {{Password.errors.minlength.requiredLength}} required</small>
                </div>
            </div><br/>

            <div class="row">
                <div class="input-field col s12">
                    <label for="CPassword" style="width: 50%;text-align: center;">Confirm Password</label>
                    <input type="password"  name="CPassword" #CPassword  required >
                    <!-- <input type="text"  name="CPassword"  [(ngModel)]= Registration.CPassword #CPassword="ngModel"  required minlength="5"> -->
                </div>
            </div><br/>

            <div class="row">
                <div class="input-field col s12" >
            <button style="margin-left: 35%;" type="submit" class="btn-large btn-submit" [disabled]="Image1.value=='' ||Image2.value=='' ||Image3.value=='' || !imageForm.valid">Register</button>
            <button style="margin-left: 5%;" type="reset" class="btn-large btn-submit">Reset</button>
                </div>
            </div>

        </form>
      </div>
    </div>
  </div>
</div>