<div class = "container">
  <div class = "row">
      <div class ="col-10">
          <div class = "jumbotron">
            <h2 style="text-align: center;">Welcome Farmer to Sold History Page.</h2><br/>

            <div>
                <table class="table table-striped" border="1">
                  <thead>
                    <tr>
                        <td><b>Date</b></td>
                        <td><b>Crop Name</b></td>
                        <td><b>Quantity/ 20 kg</b></td>
                        <td><b>MSP / 20 kg</b></td>
                        <td><b>Sold price / 20 kg</b></td>
                        <td><b>Total Price(In Rs.)</b></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let s of soldhistorydata;">
                        <td>{{s.date| date:'mediumDate'}}</td>
                        <td>{{s.cropname}}</td>
                        <td>{{s.quantity}}</td>
                        <td>{{s.MSP}}</td>
                        <td>{{s.bidAmount}}</td>
                        <td>{{s.Totalprice}}</td>
                    </tr>
                    
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  