<div class = "container">
  <div class = "row">
      <div class ="col-10">
          <div class = "jumbotron">
        <div *ngIf="farmeroption">
            <br/><br/><br/>
            <div class="container-fluid">
              <p style="text-align: center;"><b><button (click)="sellrequest()">Sell Request </button> </b></p>
            </div>
            <br/><br/>
            <div class="container-fluid">
                <p style="text-align: center;"><b><button (click)="cropHistoryrequest()">View Sold Crop History </button> </b></p>
            </div>
            <br/><br/>
            <div class="container-fluid">
                <p style="text-align: center;"><b><button (click)="MarketPlacerequest()">View Marketplace </button> </b></p>
            </div>
        </div>

        <div *ngIf="fsellrequestvalue">
            <br/><br/><br/>
            <div class="container">
                <div class="row">
                  <div class="col s8 offset-2">
                    <!-- <div class="card-panel teal lighten-2">
                      <h4 class="center white-text">Image Library</h4>
                    </div> -->
                    <form #imageForm=ngForm (ngSubmit)="OnSubmit(Cropetype,CropeName,Fertilizertype,Quantity,Image)">
                      <div class="row">
                        <div>
                            <label for="Cropetype" style="width: 50%;text-align: center;">Crop Type*</label>
                          <input type="text" style="width: 30%;" #Cropetype  name="Cropetype" id="Cropetype" required>  
                        </div>
                        <div *ngIf="!Cropetype?.valid && (Cropetype?.dirty || Cropetype?.touched)" class="error">
                          <div *ngIf="Cropetype.errors.required">
                              <small class="text-danger">Cropetype Name  is Required</small>
                          </div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="input-field col s12">
                            <label for="CropeName" style="width: 50%;text-align: center;">Crope Name*</label>
                            <select #CropeName style="width: 30%;">
                              <option *ngFor="let c of cropdata" [ngValue]="person">{{c.cropname}}</option>
                            </select>
                          <!-- <input type="text" #CropeName ngModel name="CropeName" id="CropeName" required>   -->
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                            <label for="Fertilizertype" style="width: 50%;text-align: center;">Fertilizer Type*</label>
                          <input type="text" style="width: 30%;" #Fertilizertype  name="Fertilizertype" id="Fertilizertype" required>  
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                            <label for="Quantity" style="width: 50%;text-align: center;" >Quantity(per 20 Kg)*</label>
                          <input type="text" style="width: 30%;" #Quantity  name="Quantity" id="Quantity" required>  
                        </div>
                      </div>
                      <label for="Quantity" style="width: 50%;text-align: center;">Soil PH Certificate*</label>
                      <img [src]="imageUrl"  style="width:250px;height:200px">
                      <div class="row">
                        <div class="input-field col s12">
                        <input type="file" style="width: 50%;text-align: center;" #Image name="Image"accept="image/*" (change)="handleFileInput($event.target.files)">
                        <label style="align-content: center;" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;color:darkcyan;">Only image is allowed to upload.</label><br/><br/>
                        </div>
                      </div>
                      <button type="submit" style="align-items: center;" class="btn-large btn-submit" [disabled]="Image.value=='' || !imageForm.valid">Submit</button>

                    </form>
                  </div>
                </div>
              </div>
            
              <label style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;color: brown;">All (*) Marked fields are Mendatory. </label>
        </div>
      </div>
    </div>
  </div>
</div>


